<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TK | Surtur's Crown Championship</title>
    <link rel="shortcut icon" type="image/x-icon" href="/assets/favicon.ico" />
    <link rel="stylesheet" href="/css/tournament.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.11/typed.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs/dist/tf.min.js"> </script>
    <script src="https://unpkg.com/tippy.js@6"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"/>
</head>
<body onload="begin()">
    
    <div id="loading">
    </div>

    <div class="scroll-up-btn">
        <i class="fas fa-angle-up"></i>
    </div>

                                        <!-- Navbar Section -->

   <!-- Navbar Section -->

   <nav class="navbar">
    <div class="max-width">
        <div class="logo"><a href="/">Thanos <span>Killer</span></a></div>
        <ul class="menu">
            <li><a href="#home" class="menu-btn">Home</a></li>
            <li><a href="#news" class="menu-btn">News</a></li>
            <li><a href="#players" class="menu-btn">Players</a></li>
            <li><a href="#teams" class="menu-btn">Teams</a></li>
            <li><a href="#upcoming-matches" class="menu-btn">Upcoming Matches</a></li>
            <li><a href="#leaderboards" class="menu-btn">Leaderboards</a></li>
        </ul>
        <div class="menu-btn">
            <i class="fas fa-bars"></i>
        </div>
    </div>
</nav>

                                                <!-- Home Section -->

    <section class="home" id="home">
        <div class="max-width">
            <h2 class="title">Surtur's Crown Championship</h2>
            <div class="home-content">
                <div class="text">
                    <div><a target="_blank" href="https://www.surveyheart.com/form/60e6e0ddd8b0a844965b5796#welcome"> Register</a>: <span>10 July - 22 July 2021</span></div>
                    <div>Duration: <span>11 July - 15 August 2021</span></div>
                    <div>Organized by: <span>Thanos Killer</span></div>
                    <div>Sponsored by: <span>Xenovia</span></div>
                </div>
                <div class="buttons">
                    <a target="_blank" href="/assets/Surtur's Crown Championship Rulebook.pdf">Download Rulebook</a>
                    <!-- <a target="_blank" href="/assets/Surtur's Crown Championship Fixtures.pdf">Download Fixtures List</a> -->
                    <a href="https://www.youtube.com/watch?v=pA1YtgxpfuQ&t=11s">Watch Trailer</a>
                </div>
            </div>
        </div>
    </section>

                                                <!-- News Section -->

    <section class="news" id="news">
        <div class="max-width">
            <h2 class="title">Latest News</h2>
            <div class="home-content">
                <div class="carousel owl-carousel">
                    <div class="card">
                        <div class="box">
                            <img src="/assets/image4_news.jpg">
                            <div class="text">Web Feature</div>
                            <p>Tap on the player's name to view the details such as their kills, mvps, assists, total matches played, their team etc.</p>
                            <p class="news_update_date">Updated on: 23 July 2021</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="box">
                            <img src="/assets/image3_news.jpg">
                            <div class="text">Auctions</div>
                            <p>The auctions are completed and 7 teams have been formed.</p>
                            <p class="news_update_date">Updated on: 23 July 2021</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class=" box">
                            <img src="/assets/image5_news.jpg">
                            <div class="text">No Default Bans</div>
                            <p>Wolverine and Jean Grey will not be banned by default in the tournament.</p>
                            <p class="news_update_date">Updated on: 17 July 2021</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class=" box">
                            <img src="/assets/image4_news.jpg">
                            <div class="text">Matches</div>
                            <p>Matches are expected to start from 29 July 2021.</p>
                            <p class="news_update_date">Updated on: 11 July 2021</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
                                                <!-- Player's Section -->

    <section class="players" id="players">
        <div class="max-width">
            <h2 class="title">Players</h2>
            <div class="row">
                <div class="col">
                    <div class="search-card">
                        <input type="text" class="player-search-input-1" placeholder="Search for players...">
                    </div>
                </div>
            </div>
            <div class="table-container">
                <table class="players-table" >
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>In Game ID</th>
                        </tr>
                    </thead>
                    <tbody id="players-table">
                    
                    </tbody>
                </table>
            </div>
        </div>

        <div class="player-card-container"></div>

    </section>
                                                    <!-- Teams Section -->
    <section class="teams" id="teams">
        <div class="max-width">
            <h2 class="title">Teams</h2>
            <div class="teams-content">
                <div class="team-carousel owl-carousel">
                    <div class="team-card">
                        <div class="team-card-inner">
                            <div class="team-card-front">
                                <img src="/assets/team_logos/JB BUMB.jpeg" alt="JB•Bumb" height="500px" width="500px">
                            </div>
                            <div class="team-card-back">
                                <div class="team-info">
                                    JB•Bumb
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="team-card">
                        <div class="team-card-inner">
                            <div class="team-card-front">
                                <img src="/assets/team_logos/WJP.jpeg" alt="W.J.P" height="500px" width="500px">
                            </div>
                            <div class="team-card-back">
                                <div class="team-info">
                                    W.J.P
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="team-card">
                        <div class="team-card-inner">
                            <div class="team-card-front">
                                <img src="/assets/team_logos/Horny Police.jpeg" alt="Horny Police" height="500px" width="500px">
                            </div>
                            <div class="team-card-back">
                                <div class="team-info">
                                    Horny Police
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="team-card">
                        <div class="team-card-inner">
                            <div class="team-card-front">
                                <img src="/assets/team_logos/Akatsuki.jpeg" alt="Akatsuki" height="500px" width="500px">
                            </div>
                            <div class="team-card-back">
                                <div class="team-info">
                                    Akatsuki
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="team-card">
                        <div class="team-card-inner">
                            <div class="team-card-front">
                                <img src="/assets/team_logos/Hakuna Matata.jpeg" alt="Hakuna Matata" height="500px" width="500px">
                            </div>
                            <div class="team-card-back">
                                <div class="team-info">
                                    Hakuna Matata
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="team-card">
                        <div class="team-card-inner">
                             <div class="team-card-front">
                                <img src="/assets/team_logos/ALAKK.jpeg" alt="A.L.A.K.K" height="500px" width="500px">
                            </div>
                            <div class="team-card-back">
                                <div class="team-info">
                                    A.L.A.K.K
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="team-card">
                        <div class="team-card-inner">
                            <div class="team-card-front">
                                <img src="/assets/team_logos/Puny Gods.jpeg" alt="Puny Gods" height="500px" width="500px">
                            </div>
                            <div class="team-card-back">
                                <div class="team-info">
                                    Puny Gods
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
                                                    <!-- Upcoming Matches Section -->
    <section class="upcoming-matches" id="upcoming-matches">
        <div class="max-width">
            <h2 class="title">Upcoming Matches</h2>
            <div class="upcoming-matches-content"></div>
        </div>
    </section>
                                                    <!-- Leaderboards Section -->
    <section class="leaderboards" id="leaderboards">
        <div class="max-width">
            <h2 class="title">Leaderboards</h2>
            <div class="leaderboards-content">
                <div class="kills-table">
                    <h2>Most Kills</h2>
                    <div class="table-container">
                        <table class="players-table">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Kills</th>
                                </tr>
                            </thead>
                            <tbody id="kills-table">

                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="assists-table">
                    <h2>Most Assists</h2>
                    <div class="table-container">
                        <table class="players-table">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Assists</th>
                                </tr>
                            </thead>
                            <tbody id="assists-table">

                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="mvps-table">
                    <h2>Most MVPs</h2>
                    <div class="table-container">
                        <table class="players-table">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>MVPs</th>
                                </tr>
                            </thead>
                            <tbody id="mvps-table">

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>

                                                    <!-- Footer Section -->
    
    <footer>
        <a href="https://www.instagram.com/avenger_avanish/" target="_blank"><img src="/assets/instagram_icon.png" alt="Instgram" class="social_media_handles"></a>
        <a href="https://www.youtube.com/channel/UCdQSId2bcEOojt6uolDexGg" target="_blank"><img src="/assets/youtube_icon.png" alt="Youtube" class="social_media_handles"></a>
        <a href="https://discord.com/invite/zzy4ezM" target="_blank"><img src="/assets/discord_icon.png" alt="Discord Server" class="social_media_handles"></a>
        <a href="https://steamcommunity.com/profiles/76561198435451065" target="_blank"><img src="/assets/steam_icon.png" alt="Snapchat" class="social_media_handles"></a>
    </footer>

</body>
<script src="/js/surtur_crown_championship.js"></script>
</html>