/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

                                                            /* PreLoader */
#loading{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #fff url('/assets/Global/preloader.gif') no-repeat center;
    z-index: 99999;
    transition: 1s ease;
}
html{
    scroll-behavior: smooth;
}

                                                            /*Scroll Bar*/
::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.table-container::-webkit-scrollbar-thumb{
    background: lightgray;
}

                                                            /* Information Poster Styling */
.tournament-info-poster-container{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    min-height: 100%;
    min-width: 100%;
    justify-content: center;
    align-items: center;
    z-index: 1200;
    display: flex;
    background-image: url('/assets/Tournaments/MSW Wakandan League/marvelsuperwar.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.tournament-info-poster-container .card{
    max-width: 95%;
    position: absolute;
    border-radius: 6px;
    padding: 5px 5px;
    text-align: center;
    overflow: hidden;
    transition: all 0.2s ease;
}
.tournament-info-poster-container .card a{
    cursor: pointer;
    color: white;
}
.tournament-info-poster-container .card i{
    position: absolute;
    top: 20px;
    right: 20px;
}
.tournament-info-poster-container .card .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}
.tournament-info-poster-container .card .box img{
    height: 90vh;
}
.tournament-info-poster-container .card:hover{
    transform: scale(1.02);
}
.tournament-info-poster-container .close-card-button{
    cursor: pointer;
}

                                                            /*Common Content*/
section{
    padding: 100px 0;
}
section .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}
section .title::after{
    position: absolute;
    bottom: -8px;
    left: 50%;
    font-size: 20px;
    color: crimson;
    padding: 0 5px;
    background: #fff;
    transform: translateX(-50%);
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
.home, .news, .players, .teams, .leaderboards, .upcoming-matches, footer{
    font-family: 'Poppins', sans-serif;
}
.home .home-content,
.news .news-content,
.players .players-content,
.teams .teams-content,
.leaderboards .leaderboards-content,
.upcoming-matches .upcoming-matches-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 70px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}

                                                                /* Navbar */
.navbar{
    background-color: white;
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
}
.navbar.sticky{
    padding: 15px 0;
    background: crimson;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color: #000;
    font-size: 35px;
    font-weight: 600;
}
.navbar .logo a span{
    color: crimson;
    transition: all 0.3s ease;
}
.navbar.sticky .logo a,.navbar.sticky .logo a span{
    color: #fff;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    display: block;
    color: #000;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover{
    color: crimson;
}
.navbar.sticky .menu li a{
    transition: all 0.2s;
    color: #fff;
}
.navbar.sticky .menu li a:hover{
    transform: scale(1.2);
}

                                                        /* Menu Buttons */
.menu-btn{
    color: #000;
    font-size: 23px;
    cursor: pointer;
    display: none;
}
.navbar.sticky .menu-btn{
    color: white;
}
.scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 42px;
    background: crimson;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 999;
    font-size: 30px;
    border-radius: 6px;
    border-bottom-width: 2px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.scroll-up-btn.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}
.scroll-up-btn:hover{
    filter: brightness(90%);
}


                                                                /* Scroll Up Button */
.scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 42px;
    background: crimson;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 999;
    font-size: 30px;
    border-radius: 6px;
    border-bottom-width: 2px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.scroll-up-btn.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}
.scroll-up-btn:hover{
    filter: brightness(90%);
}
                                                        /*  Home Styling*/
.home{
    animation: transitionIn 2s;
    height: 100vh;
    color: #000;
    min-height: 500px;
    font-family: 'Ubuntu', sans-serif;
}
.home .home-content{
    flex-direction: column;
    align-items: flex-start;
}
.home .title::after{
    content: "Going On";
    color: limegreen;
}
.home .home-content .text div{
    font-size: 30px;
    font-weight: 500;
    padding-bottom: 20px;
}
.home .home-content .text div span{
    color: crimson; 
    font-weight: 500;
}

.home .home-content a{
    color: black;
}
.home .home-content a:hover{
    text-decoration: underline;
}
.home .home-content .buttons a{
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    margin-right: 30px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}
.home .home-content .buttons a:hover{
    text-decoration: none;
    color: crimson;
    background: none;
}
                                                            /* News Styling */
.news .title::after{
    content: "what's new";
}
.news .carousel .card{
    
    border: 2px solid black;
    background-color: lightyellow;
    height: auto;
    border-radius: 6px;
    padding: 25px 35px;
    text-align: center;
    overflow: hidden;
    transition: all 0.2s ease;
}
.news .carousel .card:hover{
    background: crimson;
    color: white;
}
.news .carousel .card .box{
    min-height: 400px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}
.news .carousel .card:hover{
    transform: scale(1.03);
}
.news .carousel .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}
.news .carousel .card img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid crimson;
    transition: all 0.3s ease;
}
.news .carousel .card:hover img{
    border-color: none;
}
.news .carousel .card .box .news_update_date{
    font-weight: 500;
    position: absolute;
    bottom: 10px;
}
.owl-dots{
    text-align: center;
    margin-top: 20px;
}
.owl-dot{
    height: 13px;
    width: 13px;
    margin: 0 5px;
    outline: none!important;
    border-radius: 50%;
    border: 2px solid crimson!important;
    transition: all 0.3s ease;
}
.owl-dot.active{
    width: 35px;
    border-radius: 14px;
}
.owl-dot.active,
.owl-dot:hover{
    background: crimson!important;
}

                                                    /* Players Styling */
.players .title::after{
    content: "who's playing";
}
.players-table, .team-table{
    width: 100%;
    border-collapse: collapse;
}
td{
    text-align: center;
}
thead{
    background-color: crimson;
    color: white;
}
tbody:before {
    content: "-";
    display: block;
    line-height: 1em;
    color: transparent;
}
th, td{
    padding: 8px;
}
tbody tr:hover{
    background-color: crimson;
    color: white;
    opacity: 90%;
    cursor: pointer;
}
.table-container{
    height: auto;
    max-height: 490px;
    overflow-y: auto;
}
.players .table-container thead{
    position: sticky;
    top: 0;
}
.search-card{
    padding: 8px;
}
input[type=text]{
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    padding: 12px 20px 12px 40px;
}
.player-card-button{
	cursor: pointer;
}
.players .player-card-container{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    min-height: 100%;
    min-width: 100%;
    justify-content: center;
    align-items: center;
    z-index: 999;
    display: none;
}
.players .player-card-container .card{
    max-width: 95%;
    position: absolute;
    background: #fff;
    border: 5px solid crimson;
    border-radius: 6px;
    padding: 10px 35px;
    text-align: center;
    overflow: hidden;
    transition: all 0.2s ease;
}
.players .player-card-container .card .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}
.players .player-card-container .card a{
    color: black;
}
.players .player-card-container .card i{
    position: absolute;
    top: 10px;
    right: 10px;
}
.players .player-card-container .card:hover .box{
    transform: scale(1.02);
}
.players .player-card-container .card .text{
    font-size: 30px;
    font-weight: 500;
    color: crimson;
    margin: 10px 0 7px 0;
}
.players .player-card-container .card{
    font-size: 22px;
}
.players .player-card-container .close-card-button{
    cursor: pointer;
}
                                                            /* Teams Styling */
.teams .title::after{
    content: "the final teams";
}   
.team-card{
    background-color: transparent;
    display: flex;
    justify-content: center;
    width: 500px;
    height: 500px;
    max-width: 95%;
    perspective: 1000px;
    margin: 20px;
}
.team-card-inner{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.team-card:hover .team-card-inner {
    transform: rotateY(180deg);
}  
.team-card-front, .team-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
} 
.team-card-front {
    color: black;
} 
.team-card-back {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    transform: rotateY(180deg);
}
.team-card-back .text{
    font-size: 30px;
    font-weight: 500;
    color: crimson;
    margin: 10px 0 7px 0;
}
  
                                                            /* Leaderboards Styling */
.leaderboards .title::after{
    content: "who's at top";
}
.leaderboards .leaderboards-content h2{
    text-align: center;
}
.leaderboards .leaderboards-content div{
    width: 100%;
    margin-bottom: 20px;
}
.leaderboards .leaderboards-content .mvps-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 10px;
}
.leaderboards .leaderboards-content .mvps-container > div{
    width: 45%;
}
.leaderboards .table-container thead{
    position: sticky;
    top: 0;
}

                                                            /* footer section styling */
footer{
    border-top: 5px solid black;
    padding: 10px 23px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer img{
    height: 40px;
    width: 45px;
    margin-right: 30px;
    filter: grayscale(100%);
    transition: filter 0.5s;
    transition: transform 0.3s;
}
footer a:nth-child(2) img{
    height: 30px;
}
footer a:nth-child(3) img{                      
    height: 30px;
    width: 50px;
}
footer a:nth-child(4) img{
    height: 40px;
}
footer img:hover{
    filter: grayscale(0%);
    transform: scale(1.1);
}
                                                                    /* Responsiveness */

@media (max-width: 930px){
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .menu-btn i.active:before{
        content: "\f00d";
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu.active +.menu-btn{
        color: #fff;
    }
    .navbar .menu li a{
        color: #fff;
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
}

@media (max-width: 991px) {
    .max-width{
        padding: 0 50px;
    }
    footer img{
        height: 30px;
        width: 35px;
        margin-right: 20px;
    }
    footer a:nth-child(2) img{
        height: 25px;
    }
    footer a:nth-child(3) img{
        height: 25px;
        width: 40px;
    }
    footer a:nth-child(4) img{
        height: 30px;
    }
}

@media (max-width: 947px){
    .home .home-content .text div{
        font-size: 20px;
    }
    .players .player-card-container .card text{
        font-size: 25px;
    }
    .players .player-card-container .card{
        font-size: 20px;
    }
    .leaderboards .leaderboards-content .mvps-container{
        flex-direction: column;
    }
    .leaderboards .leaderboards-content .mvps-container > div{
        width: 100%;
    }
}

@media (max-width: 690px) {
    .max-width{
        padding: 0 23px;
    }
    section .title{
        font-size: 35px;
    }
    .home .home-content .text div{
        font-size: 18px;
    }
}
@media (max-width: 565px) {
    .team-card-front img{
        width: 110%;
    }
}
@media (max-width: 500px) {
    .scroll-up-btn{
        right: 15px;
        bottom: 15px;
        height: 38px;
        width: 35px;
        font-size: 23px;
        line-height: 38px;
    }
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateX(-100);
    }
    to {
        opacity: 1;
        transform: rotateX(0);
    }
}